{% extends "base.html" %}

{% block title %}Página Principal{% endblock %}

{% block content %}
    <h1>APRENDA PYTHON EN 3 MESES</h1>
    <p>Esta es la mejor opción para aprender Python de forma rápida y efectiva.</p>
    <h3>Objetivo: Dominar Python básico e intermedio.</h3>

    <h2>¿Qué aprenderás?</h2>
    <table>
        <tr>
            <th>SEMANA 1 — PYTHON DESDE CERO</th>
            <th>Temario</th>
        </tr>
        <tr>
            <td>Introducción a Python</td>
            <td>Conceptos básicos, sintaxis, variables, tipos de datos, print(),imput(), Conversión de tipos.</td>
        </tr>
        <tr>
            <td>Ejercicios:</td>
            <td>Pedir nombre y edad, Calcular año nacimiento,Conversor pesos a dólares, Calcular promedio de 3 notas.</td>
        </tr>
        <tr>
            <td>Mini reto:</td>
            <td>Calculadora básica.</td>
        </tr>
    </table>
{% endblock %}